# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
fabric/.gradle/
fabric/build/
common/.gradle/
common/build/
forge/.gradle/
forge/build/
neoforge/.gradle/
neoforge/build/
.idea/
.gradle/
