# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
fabric/.gradle/
fabric/build/
common/.gradle/
common/build/
forge/.gradle/
forge/build/
neoforge/.gradle/
neoforge/build/
.idea/
.gradle/
/.name
/compiler.xml
/discord.xml
/gradle.xml
/jarRepositories.xml
/runConfigurations/Minecraft_Client___fabric__fabric.xml
/runConfigurations/Minecraft_Client___forge__forge.xml
/runConfigurations/Minecraft_Client___neoforge__neoforge.xml
/runConfigurations/Minecraft_Server___fabric__fabric.xml
/runConfigurations/Minecraft_Server___forge__forge.xml
/runConfigurations/Minecraft_Server___neoforge__neoforge.xml
/misc.xml
/modules.xml
/modules/common/stuck_arrows_for_all.common.iml
/modules/common/stuck_arrows_for_all.common.main.iml
/modules/common/stuck_arrows_for_all.common.test.iml
/modules/fabric/stuck_arrows_for_all.fabric.main.iml
/modules/fabric/stuck_arrows_for_all.fabric.test.iml
/modules/forge/stuck_arrows_for_all.forge.main.iml
/modules/forge/stuck_arrows_for_all.forge.test.iml
/modules/neoforge/stuck_arrows_for_all.neoforge.main.iml
/modules/neoforge/stuck_arrows_for_all.neoforge.test.iml
/uiDesigner.xml
/vcs.xml
